[0]
uuid = AAAAAA
nick = G
user = global
host = global.localhost
real = Global helper
fantasy = False
cs = False

[1]
uuid = AAAAAB
nick = N
user = nethelp
host = nethelp.localhost
real = Network helper
fantasy = False
cs = False

[2]
uuid = AAAAAC
nick = R
user = request
host = request.localhost
real = Request service
fantasy = False
cs = False

[3]
uuid = AAAAAD
nick = C
user = chanserv
host = chanserv.localhost
real = Channel service
fantasy = True
cs = True

[4]
uuid = AAAAAE
nick = O
user = operserv
host = operserv.localhost
real = Oper service
fantasy = False
cs = False

[5]
uuid = AAAAAF
nick = H
user = help
host = help.localhost
real = Help service
fantasy = False
cs = False

[6]
uuid = AAAAAG
nick = M
user = memo
host = memo.service
real = Memo service
fantasy = False
cs = False