[MYSQL]
host = 
port = 
name = 
user = 
passwd = 

[SERVER]
name = 
address = 
port = 
id = 
password = 

[SERVICES]
name = 
address = 
id = 
description = 

[OPERS]
notifications = True

[OTHER]
debug = 0
email = 
regmail = 1
ipv6 = False
ssl = False

[MAIL]
template = templates/default_mail.tpl
logo = 
link = 

[INCLUDES]
bots = bots.cfg