[PGSQL]
host = 127.0.0.1
port = 5432
name = cdis
schema = public
user = cdis
passwd = changeit!

[SERVER]
name = irc.localhost
address = 127.0.0.1
port = 7000
id = 01U
password = changeit!

[SERVICES]
name = chiruclande-irc-services.localhost
address = 127.0.0.1
id = 01S
description = chiruclan.de IRC services

[OPERS]
notifications = True

[OFFICIAL_CHANNELS]
help = #help
support = #feds
opers = #opers

[OTHER]
debug = 0
email = 
regmail = 1
ipv6 = False
ssl = False

[MAIL]
template = templates/default_mail.tpl
logo = 
link = 

[INCLUDES]
bots = bots.cfg